
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:insert="fragments/general.html :: headWithLinks"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

	<div th:fragment="viewCmd(cmd)" >
		<div class="text-center">
			<div th:if="${cmd.id != null}">
				<h4 th:text="'Votre commande N° ' + ${cmd.id}"></h4>	
				<h6 th:text="${#dates.format(cmd.date, 'dd/MM/yyyy HH:mm')}"  ></h6>
			</div>
			<div th:unless="${cmd.id != null}">
				<h4>Votre commande</h4>	
			</div>
			<div>
				<h6 th:class="${cmd.getCssClassStatut()}" th:text="${T(data.entitys.Commande).getStatutLibelle(cmd.statut)}"></h6>				
				<div class="text-center font-weight-bold" th:if="${!cmd.isEnAttente() && cmd.dateLivraison!=null}">
					<div><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Date de retrait </div>					
					<h5 class="text-danger" th:text="${cmd.getDateLivraisonStr()}"></h5>	
				</div>
			</div>
				
			<input type="hidden" th:field="*{id}" />
			
			<!-- <div th:if="${cmd.id != null}">				
				<h6 th:text="${#dates.format(cmd.date, 'dd/MM/yyyy HH:mm')}"  ></h6>				
			</div> -->
			
			
			<div class="form-group text-left mx-3 ">	
				<div class="d-flex align-items-center justify-content-start">
					<label class="col-form-label font-weight-bold" style="font-size: larger;">Point de vente</label>
				</div>
				<div class="d-flex flex-lg-row flex-md-column justify-content-start card border-info px-2 " id="divPtV">
					<div class="mx-2 pt-2" th:each="p, iter  : ${pointsV}">								
						<input type="radio" style="transform: scale(2)" name="ptV" th:id="'ptV' + ${iter.index}"  th:value="${p.id}"  th:checked="${cmd.getPointVente()!=null} and ${cmd.getPointVente().getId()==p.id}" onchange="checkPointsVente();" th:required="${cmd.allowEditLimited()}" th:disabled="${!cmd.allowEditLimited()}"/> 
						<!-- <input type="hidden"  class="ptVDate" name="ptVDate" th:value="${#dates.format(p.getNextDateValidation(cmd), 'dd/MM/yyyy')}"  > -->
						<input type="hidden"  class="ptVDate" name="ptVDate" th:value="${p.getNextDateValidationStr(cmd)}"  >
						
						<label class="mx-2 font-weight-bold lblPtV" th:for="'ptV' + ${iter.index}" th:text="${p.libelle}" 
						data-placement="bottom" data-toggle="popover" data-trigger="hover" th:attr="data-popover-content='#popoverContentPtV' + ${iter.index}"></label>
						
						<div th:id="'popoverContentPtV'+ ${iter.index}" style="display:none; ">
							<div class="myPopoverContent bg-dark text-white">
								<div class="d-flex align-items-start">
									<span class="text-center mr-1"> 
										<i class="fa fa-calendar mr-2" aria-hidden="true"></i>										
									</span>								
									<div class="textWithCrLf w-100" th:text="${p.getHorairesConcatString()}"></div>
								</div>
							</div>
						 </div>
						 
					</div>
				</div>
			</div>	
						
			<div class="text-left  mx-3 my-1 pointVenteInfoTexte font-weight-bold">
				
				<h6><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Préparer votre commande (selon le point de vente sélectionné) : </h6>
				<div class="pl-3">
					<input type="radio" name="radioChoixValidation" class="radioChoixValidation" id="radioChoixValidationPlusRapide"  th:checked="${cmd.dateChoixLivraison==null}" th:disabled="${!cmd.isEnAttente()}">
					<label for="radioChoixValidationPlusRapide">Aussi tôt que possible</label>
					<label id="estimationValidation"></label>
				</div>
				<div class="pl-3">
					<input type="radio" name="radioChoixValidation" class="radioChoixValidation" id="radioChoixValidationDate"  th:checked="${cmd.dateChoixLivraison!=null}" th:disabled="${!cmd.isEnAttente()}">
					<label for="radioChoixValidationDate">A partir d'une date choisie </label>
					<input type="date" id="dateChoixLivraison" th:field="*{dateChoixLivraison}">
				</div>
			</div>
			
			<div class="d-flex align-items-center" th:if="${cmd.id != null && cmd.msgCommercant!=null && cmd.msgCommercant.length()>0}">
				<label for="msgCommercant" class="font-weight-bold mx-3 text-danger">Message du commerçant : </label>
				<h6 th:text="${cmd.msgCommercant}" class="font-italic mx-3 textWithCrLf text-danger"></h6>
			</div>
			<div class="my-4 input-group">
				<label for="infoComp" class="font-weight-bold mx-3 text-success">Votre information complémentaire : </label>					
				
				<textarea th:field="*{infoComp}" th:readonly="${!cmd.allowEdit()}" class="font-italic form-control mx-3 textWithCrLf text-success"></textarea>	
			</div>										
			<input type="hidden" th:field="*{msgCommercant}" />
			<input id="dateCmd" type="hidden" th:field="*{date}" />				
			<input id="statutCmd" type="hidden" th:field="*{statut}" />	
			<input type="hidden" th:field="*{reductionSpeciale}" />
		</div>
		<table class="table">					
			<tbody>
				<tr class="itemCmd" th:each="lp, itemStat :*{lignesCommandeProduit}"  th:with="p=${lp.produit}">
					
					<td>
						<div class="d-md-flex">
							<div class="mr-3">
								<a th:href="@{produit(id=${p.id})}" >
									<img th:if="${p.photos.size() > 0 }" th:src="'data:image/png;base64,'+ ${p.defPhotoData()}"	class="border p-1 mr-2 imgAutoSize" >							
								</a>
							</div>
							<div>
								<input type="hidden" th:field="*{lignesCommandeProduit[__${itemStat.index}__].id}" />							
								<input class="idProdCmd" type="hidden" th:field="*{lignesCommandeProduit[__${itemStat.index}__].produit.id}" />	
								<input type="hidden" th:field="*{lignesCommandeProduit[__${itemStat.index}__].produit.prix}" />	
							
								<h5	class="font-weight-bold mr-3" th:text="${p.libelle}"></h5>
								<h6	class="font-weight-bold mr-3" th:text="${p.conditionnement}"></h6>
								<label class="prixCmdV"  th:text="${#numbers.formatDecimal(p.prix, 1, 2, 'COMMA')} + '€'"></label>
								<label class="prixCmd d-none" th:text="${p.prix}"></label>
								<p th:if="${p.getDelaisSurCommande().length()>0}" th:text="${p.getDelaisSurCommande()}" class="etiquetteDelaisColor text-center"> </p>
							</div>
						</div>						

					</td>
					<td >								
						<div  th:if="${cmd.allowEdit()}" class="input-group mb-1" style="width:150px;" >
							<div class="input-group-prepend">
								<span class="input-group-text"  onclick="dimQteCmd(this)" style="cursor: pointer;"> <i class="fa fa-minus-square" aria-hidden="true"></i></span>
							</div>
							<input class="form-control qteCmd" type="number" th:field="*{lignesCommandeProduit[__${itemStat.index}__].qte}" onchange="updateQuantityCmd(this);">
							
							<div class="input-group-append" id="button-addon-line">
								<span class="input-group-text" style="cursor: pointer;" th:onclick="javascript:addQteCmd(this);"> <i	class="fa fa-plus-square" aria-hidden="true"  ></i></span>	
							</div>
						</div>
						<div  th:if="${!cmd.allowEdit()}">							
							<input class="form-control qte" type="number" th:field="*{lignesCommandeProduit[__${itemStat.index}__].qte}" readonly="readonly">			
							
						</div>
					</td>							
												
					<td >								
						<h5	class="subtotalCmdV font-weight-bold mr-3 " th:text="${#numbers.formatDecimal(lp.calculeTotalProduit(), 1, 2, 'COMMA')} + '€'"></h5>
						<label class="subtotalCmd d-none" th:text="${lp.calculeTotalProduit()}"></label>
					</td>							
					<td>
						<span th:if="${cmd.allowEdit()}" class="input-group-text justify-content-center" style="width:30px; cursor: pointer;" th:onclick="supprimerProdCmd(this)"> <i class="fa fa-trash text-danger" aria-hidden="true"></i></span>	
							  <!-- onclick="supprimerProdCmd(this)"	 -->											
						
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="d-flex justify-content-end mx-4">
			<div>
				<h6 th:class="${cmd.getCssClassStatut()}" th:text="${T(data.entitys.Commande).getStatutLibelle(cmd.statut)}"></h6>				
			</div>				
		</div>
<!-- 		on affiche le detail total prod et total reduction si il y a des reductions, sinon on affiche directement le total -->
		<div th:if="${cmd.reductionSpeciale > 0}" class="d-flex justify-content-end mx-4">
			<h6 class="font-weight-bold mr-3 totalProdCmd" id="totalProdCmd" th:text="'Total produit : ' +${#numbers.formatDecimal(cmd.totalSansPromo, 1, 2, 'COMMA')} + '€'"></h6>			
		</div>
		<div th:if="${cmd.reductionSpeciale > 0}" class="d-flex justify-content-end mx-4">
			<h6 class="font-weight-bold mr-3 reductionS" id="reductionS" th:text="'Réduction spéciale : ' +${#numbers.formatDecimal(cmd.reductionSpeciale, 1, 2, 'COMMA')} + '€'"></h6>			
		</div>
		<div class="d-flex justify-content-end mx-4">										
			<h5	class="font-weight-bold mr-3 totalCmd" id="totalCmd" th:text="'Total : ' +${#numbers.formatDecimal(cmd.totalFinal, 1, 2, 'COMMA')} + '€'"></h5>					
		</div>
		
	</div>

	<div>
		<div th:fragment="newCmdConfirm(newCmd)" class="modal fade" tabindex="-1" id="newCmdConfirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Annuler">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h3>Votre commande est enregistrée avec success</h3>
						<h6 th:text="${#dates.format(newCmd.date, 'dd/MM/yyyy HH:mm')}"></h6>
						<div class="d-flex justify-content-end mx-4">										
							<h5	class="font-weight-bold mr-3" id="totalCmd" th:text="'Total : ' +${#numbers.formatDecimal(newCmd.totalFinal, 1, 2, 'COMMA')} + '€'"></h5>					
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="py-0 btn btn-sm btn-outline-danger"
							data-dismiss="modal">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="fragments/general.html :: assets"></div>		
</body>
</html>