
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Commande</title>
<link th:insert="fragments/general.html :: headWithLinks"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<header>
	<div th:insert="fragments/general.html :: navbarDynamique">	
	</div>	
</header>
	
	<div class="m-3">
		<form method="post"	th:action="@{saveCommande}" th:object="${cmd}" >
			
			<div th:insert="fragments/cmdFragments.html :: viewCmd(${cmd})"></div>
			
						
			<div class="d-flex justify-content-end mx-4">
 		        <a th:href="@{listCmd}" class="py-1 px-2 mx-1  btn btn-primary text-white">Retour à la liste des commandes</a> 		        				
				<button  type="submit" class="py-1 px-2 mx-1 btn btn-success" name="action" value="saveCmd" id="saveCmd">Enregistrer</button>    	
				<a th:if="${!cmd.isCanceledByAdmin()}" th:href="@{deleteCommande(id=${cmd.id})}" th:onclick="return confirm('Etes-vous sûr de vouloir annuler cette commande?')" class="py-1 px-2 mx-1  btn btn-danger">Annuler la commande</a>				
		    </div>
		</form>
	</div>	
		
    <div th:replace="fragments/general.html :: assets"></div>
	<script>
		$(document).ready(function() { 
	    	
	    	let $liTag =  $('#liCmd');   // 
	   
	    	if ($liTag.hasClass('active')) {         
	      		return false;
	    	}
	    	
	   		$liTag.siblings('.active').removeClass('active');
	    	$liTag.addClass('active');   
	  	})
      	     
      	
//       	function addQteCmd(btn) {
// 				let parent = btn.parentElement.parentElement.parentElement;

// 				let cible = parent.querySelector(".qte");

// 				if (cible != null) {
// 					let qte = cible.value;

// 					if (qte == null) {
// 						qte = 1;
// 					}
// 					cible.value = parseFloat(qte) + 1;
// 					updateQuantityCmd(cible);
// 				}
// 			}
// 			function dimQteCmd(btn) {
// 				let parent = btn.parentElement.parentElement.parentElement;
// 				let cible = parent.querySelector(".qte");

// 				if (cible != null) {
// 					let qte = cible.value;
// 					if (qte == null) {
// 						qte = 1;
// 					}
// 					if (qte > 0) {
// 						cible.value = qte - 1;
// 					} else
// 						cible.value = 0;
					
// 					updateQuantityCmd(cible);
// 				}

// 			}

// 			function supprimerProdCmd(btn) {
// 				let parentTR = btn.closest("tr");
// 				if (parentTR != null) {
// 					parentTR.remove();
// 					recalculateCartCmd();
// 				}
// 			}			

// 			function updateQuantityCmd(quantityInput) {
				  
// 				var parent = quantityInput.closest("tr");
				
// 				var price = parseFloat(parent.querySelector(".prixCmd").textContent);			
				
// 				var quantity = parseFloat(parent.querySelector(".qte").value);
// 				var linePrice = price * quantity;			
				
// 				var subTotalElt = parent.querySelector(".subtotalCmd");
// 				var subTotalEltVisible = parent.querySelector(".subtotalCmdV");
// 				subTotalElt.textContent = linePrice ; 				
// 				subTotalEltVisible.textContent = linePrice.toFixed(2) + '€';	
// 				recalculateCartCmd();
				
// 			}

// 			/* Recalculate cart */
// 			function recalculateCartCmd() {				  
				  
// 				var subtotal = 0;
				
// 				//
// 				var allByClass = document.getElementsByClassName('itemCmd');
// 				for (var i=0, len=allByClass.length|0; i<len; i=i+1|0) {
// 					var subTotalElt = allByClass[i].querySelector(".subtotalCmd");
// 					subtotal += parseFloat(subTotalElt.textContent);					
// 				}
// 				var reducElt = document.getElementById('reductionS');	
// 				var reduction=parseFloat(reducElt.value);
// 				subtotal=subtotal-reduction;
				
// 				var totalElt = document.getElementById('totalCmd');
// 				totalElt.textContent = 'Total : ' + subtotal.toFixed(2) + '€';

// 			}
    </script>	
</body>
</html>