
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Liste des clients</title>
<link th:insert="fragments/general.html :: headWithLinks"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<header>
	<div th:insert="fragments/general.html :: navbarDynamique">	
	</div>	
</header>
	
	<div>
		<h3 class="text-center">Liste des clients</h3>
		<div class="d-flex justify-content-end mx-3">
			<form th:action="@{listUser}" method="post" id="frmUserFilter">
				<div class="form-group text-left ">	
					<div class="d-flex align-items-center">
						<label class="col-form-label">Filtrer les clients</label>						

						<div class="mx-2 my-0" th:if="${ptvSelectedValues!=null} and ${#lists.isEmpty(ptvSelectedValues)==false}">
							<button type="submit" class="px-2 py-0 btn btn-sm btn-outline-secondary" name="action"	value="effacerFilters" id="effacerFilters">
								<i class="fa fa-undo mr-1" aria-hidden="true"></i>Effacer les filtres
							</button>
						</div>
					</div>
					
					<div class="d-flex flex-lg-row flex-md-column justify-content-between card border-info px-2 " id="divUserFilter">
						<div class="mx-2" th:each="p, iter  : ${pointsV}">								
							<input type="checkbox" name="ptVFilter" th:id="'ptV' + ${iter.index}"  th:value="${p.id}"  th:checked="${ptvSelectedValues!=null} and ${#lists.isEmpty(ptvSelectedValues)==false} and ${#lists.contains(ptvSelectedValues,  p.id)}" onchange="checkFilter(this);" /> 
							
							<label class="mx-1" th:for="'ptV' + ${iter.index}" th:text="${p.libelle}"></label>
						</div>
					</div>
				</div>					
			</form>
		</div>
			
		
		<h4 th:if="${lstUsr.size()==0}">Aucun client n'existe encore</h4>
		<div th:if="${lstUsr.size() > 0}" class="table-responsive">	
			
		
		
			<table class="table">					
					<tbody>
						<tr class="rowCmd" th:each="u, itemStat :${lstUsr}">						
							
							<td>
								<h4><a th:text="${u.nom} + ' ' + ${u.prenom} " class="text-dark" th:href="@{viewUser(id=${u.id})}"></a></h4>
								<h6 th:if="${u.hasPtv()}" th:text="${u.getStringPtv()}"></h6>
							</td>
							<td>									
								<p><a class="text-dark" th:text="${u.tel1}" th:href="@{viewUser(id=${u.id})}"></a></p>								
								<p><a class="text-dark" th:text="${u.tel2}" th:href="@{viewUser(id=${u.id})}"></a></p>
							</td>
							<td >
								<h6> <a class="text-dark"  th:text="${u.mail}" th:href="@{viewUser(id=${u.id})}"></a></h6>										
							</td>
							<td >
								<h6> <a class="text-dark"  th:text="${u.getAdresseComplete()}" th:href="@{viewUser(id=${u.id})}"></a></h6>										
							</td>
							
							<td >
								<h5> <a class="text-dark"  th:text="${#dates.format(u.dateCreation, 'dd/MM/yyyy HH:mm')}" th:href="@{viewUser(id=${u.id})}"></a>									
								</h5>							
							</td>					
							<td>
								<h6 th:if="${u.nbCmd!=null}" th:text="${u.nbCmd} + ' commande(s)'"></h6>
								<h6 th:if="${u.totalCmd !=null}" th:text="${#numbers.formatDecimal(u.totalCmd, 1, 2, 'COMMA')} + '€'"></h6>
								
							</td>						
														
							<td>
								<div class="">
									<a th:href="@{viewUser(id=${u.id})}"><i class="fa fa-eye text-dark" aria-hidden="true" ></i></a>									
								</div>	
							</td>
						</tr>
				</tbody>
			</table>	
		</div>
	</div>	
	
	
    <div th:replace="fragments/general.html :: assets"></div>
	<script>
		
 		$(document).ready(function() { 
        	
        	let $liTag =  $('#liUsr');   // 
       
        	if ($liTag.hasClass('active')) {         
          		return false;
        	}
        	
       		$liTag.siblings('.active').removeClass('active');
        	$liTag.addClass('active');   
      	})
      	
      	function checkFilter(chkInput){ 			
 			 var checkboxes = $('input[name=ptVFilter]:checked').length ;
 			 if(checkboxes==0){
 				document.getElementById('effacerFilters').click();	  
 			 } 	
 			 else {
 				$( "#frmUserFilter" ).submit();
 			 }
 		}
    </script>	
</body>
</html>