
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Suppression point de vente</title>
<link th:insert="fragments/general.html :: headWithLinks"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>	
	<div class=" bg-light p-3"	style="width: 100%; margin-left: auto; margin-right: auto; text-align: center;">
		<form id="frm" class="my-1 " style="width: 100%;" method="post"
			th:action="@{deletePtVente}" th:object="${ptV}">
			<h3 class="text-danger">Suppression du point de vente</h3>		
			

			<div class="divPtV" >
				
				<div  class="m-2">	
					<div th:if="${ptV.hasPhoto()}" class="border border-info rounded p-2 my-2 " style="min-width: 100px; max-width: 350px;">
						<img th:src="${ptV.getPhotoStrMd()}" class="imgAutoSize">
						<div class="mt-1">
							<label class=" text-info font-italic" th:text="*{photoTitre}"></label>							
						</div>
					</div>					
				</div>
				
				<div class="">					
					<div>
						<input type="hidden" th:field="*{id}" />						
					</div>

					<div class="">												
						<div class="form-group text-left input-group-lg">
							<label class="font-weight-bold text-info" for="titre">Titre</label> 
							<input	class="form-control font-weight-bold text-info" th:field="*{libelle}" readonly="readonly">
						</div>
						<div class="form-group text-left ">
							<label for="description">Déscription</label>
							<textarea class="form-control" th:field="*{description}" readonly="readonly"></textarea>
						</div>
						<div class="form-group text-left ">
							<label for="infoComp">Information complementaire</label>
							<textarea class="form-control" th:field="*{infoComp}" readonly="readonly"></textarea>
						</div>
					</div>
					<div class="input-group mb-1">
						<div class="input-group-prepend  col-2 px-0">
							<span class="input-group-text  w-100"> 
								<i class="fa fa-map-signs mr-2" aria-hidden="true"></i>
								<label for="emplacementText">Emplacement</label>
							</span>
						</div>
						<textarea class="form-control" th:field="*{emplacementText}" readonly="readonly"></textarea>
					</div>
					<div class="input-group mb-1">
						<div class="input-group-prepend col-2 px-0" >
							<span class="input-group-text w-100"> 
								<i class="fa fa-calendar mr-2" aria-hidden="true"></i>
								<label for="horairesText">Vos horaires</label>
							</span>
						</div>
						<textarea class="form-control"  th:field="*{horairesText}" readonly="readonly"></textarea>
					</div>
										
					<div class="d-flex justify-content-end mx-4">
						<button type="submit" class="btn btn-danger px-2">Supprimer</button>
						<a th:href="@{/listPointVente}" class="px-2 mx-1 btn btn-primary">Retour à la liste des points de vente</a>
					</div>
				</div>
			</div>			
			
		</form>
	</div>
	
	 <div th:replace="fragments/general.html :: assets"></div>
	 
	 <script>	
		function getfile(){
	        document.getElementById('choixImg').click();	        
	    }		
	   	    
		function readURL(input) {
			if (input.files && input.files[0]) {
				document.getElementById('submitImg').click();	 
			}
		}
		
	 </script>
</body>
</html>