
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fiche client</title>
<link th:insert="fragments/general.html :: headWithLinks"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<header>
	<div th:insert="fragments/general.html :: navbarDynamique">	
	</div>	
</header>
	
	<div class="p-4 m-2" style="margin-left: auto; margin-right: auto; text-align: center;">
		<form class="" method="post" th:action="@{saveUser}" th:object="${user}">				
			<input type="hidden" name="redirectAction" th:value="${redirectAction}">
			<div th:replace="fragments/general.html :: infoCompte"></div>
			
			<div class="form-group text-left ">	
				<div class="d-flex align-items-center justify-content-start">
					<label class="col-form-label font-weight-bold" style="font-size: larger;">Points de vente</label>						

					<div class="mx-2 my-0 d-none">
						<button type="submit" class="px-2 py-0 btn btn-sm btn-outline-secondary" name="action" value="savePtV" id="savePtV"></button>
					</div>
				</div>
				
				<div class="d-flex flex-lg-row flex-md-column justify-content-start card border-info px-2 " id="divPtV">
					<div class="mx-2 pt-2" th:each="p, iter  : ${pointsV}">								
						<input type="checkbox" style="transform: scale(2)" name="ptV" th:id="'ptV' + ${iter.index}"  th:value="${p.id}"  th:checked="${#lists.contains(pointsVselected, p.id)}" onchange="savePointsVente(this);" /> 
						
						<label class="mx-2 font-weight-bold lblPtV" th:for="'ptV' + ${iter.index}" th:text="${p.libelle}"
						data-placement="bottom" data-toggle="popover" data-trigger="hover" th:attr="data-popover-content='#popoverContentPtV' + ${iter.index}"></label>
						<div th:id="'popoverContentPtV'+ ${iter.index}"	style="display: none;">
							<div class="myPopoverContent bg-dark text-white">
								<div class="d-flex align-items-start">
									<span class="text-center mr-1"> <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
									</span>
									<div class="textWithCrLf w-100"	th:text="${p.getHorairesConcatString()}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<div class="text-left">
				<h4 th:text="'Nombre de commandes finalisées: ' + ${user.nbCmd}"></h4>
				<h4 th:if="${user.totalCmd!=null}" th:text="'Total général: ' + ${#numbers.formatDecimal(user.totalCmd, 1, 2, 'COMMA')} + '€'"></h4>
			</div>	
			<div class="d-flex text-center py-2">				
				<a class="btn btn-success mx-1" th:text="Retour" th:href="@{${redirectAction}}"></a>								
			</div>
		</form>
	</div>	
	
	<div class="mx-3" th:with="showUser='false'" th:insert="fragments/cmdFragments.html :: viewListeCmd(${user.commandes}, showUser)"></div>
		
	
    <div th:replace="fragments/general.html :: assets"></div>
	<script>
 		$(document).ready(function() { 			
 			   		   
        	let $liTag =  $('#liUsr');   // 
       
        	if ($liTag.hasClass('active')) {         
          		return false;
        	}
        	
       		$liTag.siblings('.active').removeClass('active');
        	$liTag.addClass('active');          	
        	
      	})
      	
      	function savePointsVente(chkInput){ 			
//  			var checkboxes = $('input[name=statutFilter]:checked').length ;
 			document.getElementById('savePtV').click();	
 			 
 		}
    </script>	
</body>
</html>