
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Commande</title>
<link th:insert="fragments/general.html :: headWithLinks"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<header>
	<div th:insert="fragments/general.html :: navbarDynamique">	
	</div>	
</header>
	
	<div class="m-3">
		<form method="post"	th:action="@{saveCommande}" th:object="${cmd}" >
			
			<div th:insert="fragments/cmdFragments.html :: viewCmd(${cmd})"></div>
			<input type="hidden" name="redirectAction" th:value="${redirectAction}">
						
			<div class="d-flex justify-content-end mx-4">
				<button  type="submit" class="py-1 px-2 mx-1  btn btn-primary text-white" name="action" value="retour" id="btnRetour">Retour à la liste des commandes</button>
 		        <!-- <a th:href="@{listCmd}" class="py-1 px-2 mx-1  btn btn-primary text-white">Retour à la liste des commandes</a> --> 		        				
				<button  type="submit" class="py-1 px-2 mx-1 btn btn-success" name="action" value="saveCmd" id="saveCmd">Enregistrer</button>    	
				<a th:if="${!cmd.isCanceledByAdmin()}" th:href="@{deleteCommande(id=${cmd.id})}" th:onclick="return confirm('Etes-vous sûr de vouloir annuler cette commande?')" class="py-1 px-2 mx-1  btn btn-danger">Annuler la commande</a>				
		    </div>
		</form>
	</div>	
		
    <div th:replace="fragments/general.html :: assets"></div>
	<script>
		$(document).ready(function() { 
	    	
	    	let $liTag =  $('#liCmd');   // 
	   
	    	if ($liTag.hasClass('active')) {         
	      		return false;
	    	}
	    	
	   		$liTag.siblings('.active').removeClass('active');
	    	$liTag.addClass('active'); 
	    	checkPointsVente();
	    	checkVisibilityChoixDateLivraison();
	    	$("#dateChoixLivraisonStr").text(getDateFromInput('#dateChoixLivraison'));
	  	})   
	  	
	  	function checkPointsVente(){
 			var checkboxes = $("#divPtV input[type='radio']:checked").length ;
 			if(checkboxes>0){
 				$('#divDateLivraisonSouhaitee').show();
	 			let $idPtV =$("#divPtV input[type='radio']:checked").val();
	 			let $tagDate= $("#divPtV input[type='radio']:checked").next( ".ptVDate" ); 			
	 			$('#estimationValidation').text(', à partir du ' + $tagDate.val()); 
	 			if($('#dateChoixLivraison').val()){
	 				$('#lblDateLivraisonSouhaite').text(getDateFromInput('#dateChoixLivraison'));
	 			}
	 			else
	 				$('#lblDateLivraisonSouhaite').text($tagDate.val()); 
 			} 
 			else {
 				$('#divDateLivraisonSouhaitee').hide(); 				
 				$( "#radioDateLivraison" ).prop( "checked", true );
 			}
 		}
		
		$('.radioDateLivraison').on('change', function(){ 	
			checkVisibilityChoixDateLivraison();
        }); 		
		function checkVisibilityChoixDateLivraison(){
			 let $tagChoixDefault= $('#radioDateLivraisonSouhaitee'); 
			 if($tagChoixDefault.is(':checked')){
				 $('#InputDateLivraison').hide();
			 }
			 else {
				 $('#InputDateLivraison').show();
			 }			
		}
 		
    </script>	
</body>
</html>