/* div{ */
/* 	border: red solid 1px; */
/* } */
.divCenterContainer {
/* 	width: 100%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
 	padding: 0px 5px ;
	text-align: center;
	background-repeat: no-repeat; 
	background-size: cover;
}

.divProduit, .divCategorie {
    padding: 10px;
    display: grid;
    grid-template-columns: 40% auto;   
    column-gap: 10px;
    align-items: left;
}

.divPhotoMain{
	 width: 100%;
}
.divPhotoSmall{
	 width: 49%;
}

.fa{
	/* margin:5px; */
}
.fa-plus-square, .fa-plus-square-o, .fa-plus{
	/* color: #1b926c; */
	color:white;
}
.fa-pencil-square-o{
	color: #17a2b8;
}
.fa-trash, .fa-eraser{
	color: red;
}
.fa-eraser{
	color: orange;
}
.divCategoriesMP , .divPromoMP{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-content: space-between;
/*  	display: grid;    */
/*     grid-template-columns: repeat(3, 1fr); */
/*     align-content: center; */
/*     justify-content: space-between; */
}
.divCategoriesMP>div {
	
/* 	display: flex; */
/*     flex-wrap: nowrap;  */
/*     flex-direction :column;    */
/*     justify-content: space-between; */
/*     align-content: space-between; */
	background-color:#f4f4f4;
	box-shadow: 0 2px 2px 2px rgb(236, 236, 236);
    margin-top: 1%;
    margin-bottom: 1%;
    padding:1%;
    width: 32%;  
    border-radius: 5px;
    min-height: 150px;
    overflow: auto;   
    
}

.divPromoMP>div {
	
/* 	display: flex; */
/*     flex-wrap: nowrap;  */
/*     flex-direction :column;    */
/*     justify-content: space-between; */
/*     align-content: space-between; */
    
    width: 32%;  
    border-radius: 5px;
    border: 1px black solid;
    min-height: 150px;
    overflow: auto;  
    margin-top: 1%;
    margin-bottom: 1%;
}
.divCategorieColor{
	background-color:#f4f4f4;
	box-shadow: 0 2px 2px 2px rgb(236, 236, 236);
}
/* .divInfoProduit{
	display: grid;
    grid-template-columns: 100px auto;   
    column-gap: 10px;
    align-items: left;
}
.divPhotoInfoProduit{
	background-color: whitesmoke;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
} */