/* div{
	border: red solid 1px;
} */

::placeholder {
  color: #c0c0c0;
  font-size: 0.8em;
  font-style: italic;
}
.textWithCrLf{
	white-space: pre-line;
}
.imgAutoSize{
	 width: auto;
	 height: auto;
	 max-width: 100%;
}
.divCenterContainer {
/* 	width: 100%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
 	padding: 0px 5px ;
	text-align: center;
	background-repeat: no-repeat; 
	background-size: cover;
} 

.divProduitMd{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-content: space-between;
}

.divProduitMd>div{
	width: 18%;/* 23%; */
	margin:1%; 
}
@media ( max-width : 1100px) {
	.divProduitMd > div {
		width: 23%;/* 31%; */
		margin:1%; 
	}
}
@media ( max-width : 900px) {
	.divProduitMd > div {
		width: 31%;/* 48%; */
		margin:1%; 
	}
}

@media ( max-width : 700px) {
	.divProduitMd > div {
		width: 48%;/* 48%; */
		margin:1%; 
	}
}
@media ( max-width : 500px) {
	.divProduitMd > div {
		width: 98%;/* 48%; */
		margin:1%; 
	}
}

.divProduitBoxColor{
	background-color:white;
	box-shadow: 0 1px 1px 1px cadetblue;
}

.divProduit, .divCategorie {
    padding: 10px;
    display: grid;
    grid-template-columns: 40% auto;   
    column-gap: 10px;
    align-items: left;
}
.divPtV{
    padding: 10px;
    display: grid;
    grid-template-columns: 25% auto;   
    column-gap: 10px;
    align-items: left;
}

.divPhotoMain{
	 width: 100%;
}
.divPhotoSmall{
	 width: 49%;
}

.fa{
	/* margin:5px; */
}
.fa-plus-square-o, .fa-plus{
	/* color: #1b926c; */
	color:white;
}
.fa-pencil-square-o{
	color: #17a2b8;
}
.fa-trash, .fa-eraser{
	color: red;
}
.fa-eraser{
	color: orange;
}
.divCategoriesMP , .divPromoMP{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-content: space-between;
/*  	display: grid;    */
/*     grid-template-columns: repeat(3, 1fr); */
/*     align-content: center; */
/*     justify-content: space-between; */
}
.divCategoriesMP>div {
	
/* 	display: flex; */
/*     flex-wrap: nowrap;  */
/*     flex-direction :column;    */
/*     justify-content: space-between; */
/*     align-content: space-between; */
	background-color:#f4f4f4;
	box-shadow: 0 2px 2px 2px rgb(236, 236, 236);
    margin-top: 1%;
    margin-bottom: 1%;
    padding:1%;
    width: 32%;  
    border-radius: 5px;
    min-height: 150px;
    overflow: auto;   
    
}

.divPromoMP>div {
	
/* 	display: flex; */
/*     flex-wrap: nowrap;  */
/*     flex-direction :column;    */
/*     justify-content: space-between; */
/*     align-content: space-between; */
    
    width: 32%;  
    border-radius: 5px;
    border: 1px black solid;
    min-height: 150px;
    overflow: auto;  
    margin-top: 1%;
    margin-bottom: 1%;
}
.divCategorieColor{
	background-color:#f4f4f4;
	box-shadow: 0 2px 2px 2px rgb(236, 236, 236);
}
.etiquetteDelaisColor{
	background-color: #ceffce;
}
.etiquetteDelais{
	background-color: #ceffce;
	max-width:200px;
	margin-left: auto;
    margin-right: auto;
	padding: 2px 2px;
	margin-bottom:0px;
	margin-top:0px;
    text-align: center;
    position: relative;
    bottom: 15px;
    z-index: 2;
}
.etiquette {
    background-color: yellow;
    border: solid 1px yellow;
    color:black !important; 
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 15px;
    z-index: 2;
}

.etiquetteJaune {
    background-color: yellow;
    border: solid 1px yellow;
    color:black !important; 
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
    /* position: relative;
    bottom: 15px;
    z-index: 2; */
}

.etiquetteVerte {
    background-color: #80ff80;
    border: solid 1px #80ff80;
    color:black !important; 
    
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
    /* position: relative;
    bottom: 15px;
    z-index: 2; */
}
.etiquetteRouge {
    background-color: #ff0000;
    color:white !important;
    border: solid 1px #ff0000;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
   /*  position: relative;
    bottom: 15px;
    z-index: 2; */
}
.etiquetteGrise {
    background-color: #808080;
    color:white !important;
    border: solid 1px #808080;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
   /*  position: relative;
    bottom: 15px;
    z-index: 2; */
}


.myPopoverContent {
    padding: 10px;
    /* margin: 5px; */
    /* width: 400px; */
    border-radius: 5px;
    
}