
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Accueil</title>	
	<link th:insert="fragments/general.html :: headWithLinks"> 
</head>

<body>
<header th:replace="fragments/general.html :: headerFragment" ></header>
	
	<div th:if="${newCmdAlertRequest!=null and newCmd !=null}">
		<div th:if="${newCmdAlertRequest!=null and newCmd !=null}" th:replace="fragments/cmdFragments.html :: newCmdConfirm(${newCmd})"></div>	
	</div>
	
	
	<div class="slogan text-center px-5 mx-5 my-3 d-flex" th:if="${session.paramMP.texteAccueil!=null && session.paramMP.texteAccueil.length()>0}">
		<i class="fa fa-quote-left mr-2 text-secondary" aria-hidden="true"></i>
		<label class="font-italic font-weight-bold text-center" style="white-space: pre-line;" th:text="${session.paramMP.texteAccueil}" ></label>
		<i class="fa fa-quote-right ml-2 text-secondary" aria-hidden="true"></i>						
	</div>	

	<div th:if="${session.paramMP.photos.size() > 0}"  class="galerie mx-auto my-2 py-1 " style="width: 80%; display: none;">

		<div id="carouselCaptions"	class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">			
			<ol class="carousel-indicators">
				<li data-target="#carouselCaptions" th:each="ph, iter : ${session.paramMP.photos}" th:attr="data-slide-to= ${iter.index}" th:class="${iter.index==0} ? 'active'"></li>
			</ol>
			<div class="carousel-inner text-center">
				<div th:each="ph, iter : ${session.paramMP.photos}"	th:class="${iter.index==0} ? 'carousel-item active ' : 'carousel-item '" style="min-height: 200px; height: 300px;">
					<img class="d-block border imgAutoSize mx-auto" alt="image..."
						th:src="'data:image/png;base64,'+ ${ph.getImageStr()}">
					<div class="carousel-caption d-none d-md-block">						
					</div>
				</div>
			</div>
			<a class="carousel-control-prev " href="#carouselCaptions" role="button" data-slide="prev"> 
				<span class="carousel-control-prev-icon " aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> 
			<a class="carousel-control-next " href="#carouselCaptions" role="button" data-slide="next"> 
				<span class="carousel-control-next-icon " aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div th:if="${session.paramMP.showCategories}" class="divCategoriesMP mt-3 px-4">
		<div class="border d-flex align-items-center justify-content-center divCategorieColor" th:each="c : ${lstCat}" >
			
			<div class="">
				<a th:href="@{listProdByCat(idCat=${c.id})}">
					<img th:if="${c.photos.size() > 0 }" th:src="${c.defPhotoDataMd()}"	class="border p-1 imgAutoSize imgTrasition" >				
				</a>
				<h4 class="my-2" >
					<a class="text-white" th:href="@{listProdByCat(idCat=${c.id})}" th:text="${c.titre}"></a>	
				</h4>		
			</div>		
					
		</div>
	</div>	
		
	<div th:if="${session.paramMP.showPromo && (lstPromo !=null && lstPromo.size>0)}" class="mt-3 px-4">		
		<h4 class=" my-1" th:text="${session.paramMP.promoTitre!=null && session.paramMP.promoTitre.length()>0} ? ${session.paramMP.promoTitre} : 'Nos produits du moment'"></h4>
		
		<div  class="divPromoMP mt-3">				
			<div class="d-flex align-items-center justify-content-center" th:each="p : ${lstPromo}" >					
				<div class="">					
					<h4 class="my-2" ></h4>		
				</div>			
						
			</div>
		</div>
	</div>
	
	
	<div th:replace="fragments/general.html :: footerContact"></div>
    <div th:replace="fragments/general.html :: assets"></div>   

	<script>
 		$(document).ready(function() { 
 			
 			adjustBody();			
 		   
 		   
        	let $liTag =  $('#liHome');   // 
       
        	if ($liTag.hasClass('active')) {         
          		return false;
        	}
        	
       		$liTag.siblings('.active').removeClass('active');
        	$liTag.addClass('active'); 
        	
        	$(".galerie").fadeIn("fast");   
        	
        	let $Tag =  $('#newCmdConfirmModal'); 
        	if ( $Tag ){
	        	$('#newCmdConfirmModal').modal('show');        		
        	}
      	}) 
      	
      	$(document).on('hide.bs.modal','#newCmdConfirmModal', function () { 			
 			$('#newCmdConfirmModal').parent().empty();		
		});

    </script>
</body>	
<footer th:replace="fragments/general.html :: footerTrade"></footer>
</html>