
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:insert="fragments/general.html :: headWithLinks">
	<title>Produits</title>	
	<meta charset="utf-8">
</head>

<body>

<header th:replace="fragments/general.html :: headerFragment" ></header>	
	
	<div class="pt-1 px-5 mt-1"	style="width: 100%; margin-left: auto; margin-right: auto; text-align: center;">
		<h3>Liste des produits</h3>
		<h4 th:if="${hasProd==false}">Aucun produit n'existe encore</h4>
		<div th:if="${lstCat.size() > 0}">
			<div class="card mb-3"  th:each="c:${lstCat}">
				
				<div class="card divCategorieColor"> 				
					<div  class="card-header row text-left mx-0">						
						<div class="col card-title d-flex ">
							<a th:href="@{listProdByCat(idCat=${c.id})}">
								<img th:if="${c.photos.size() > 0 }" th:src="'data:image/png;base64,'+ ${c.defPhotoData()}"	class="border p-1 mr-2" width="auto" height="auto" style="max-width: 100%;">							
							</a>
							<a class="text-dark  ml-2" th:text="${c.titre}" th:href="@{listProdByCat(idCat=${c.id})}"></a>								
						</div>
					</div>					
					<div class="card-body  ">
						<div class="card-text font-italic" th:text="${c.description}">
						</div>
					</div>
				</div>
				
				<div class="text-danger capitale text-center my-2" th:if="${c.produits.size()==0}">Aucun produit dans cette catégorie</div>				
				<div th:replace="fragments/general.html :: productList(${c.produits})"></div>				
			</div>			
		</div>

		<div th:if="${lstProdSansCat.size() > 0}">
			<h4 >Produits sans catégorie</h4>
			<div th:replace="fragments/general.html :: productList(${lstProdSansCat})"></div>			
		</div>
	</div>
	
	<div th:replace="fragments/general.html :: footerContact"></div>	
    <div th:replace="fragments/general.html :: assets"></div>	
	<script>
 		$(document).ready(function() { 
 			adjustBody();
   		   	
        	let $liTag =  $('#listProd');   // 
       
        	if ($liTag.hasClass('active')) {         
          		return false;
        	}
        	
       		$liTag.siblings('.active').removeClass('active');
        	$liTag.addClass('active');        
      	})
    </script>
</body>

<footer th:replace="fragments/general.html :: footerTrade"></footer>

</html>