
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Votre compte</title>
<link th:insert="fragments/general.html :: headWithLinks"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<header th:replace="fragments/general.html :: headerFragment" ></header>	

	
	<div class="p-4 m-2" style="margin-left: auto; margin-right: auto; text-align: center;">
		<form class="" method="post" th:action="@{supprimerCompte}" th:object="${user}">
			<div class="bg-danger text-white p-3 d-inline-flex rounded">
				<h4 class="capitale text-center">êtes-vous certain de vouloir supprimer votre compte et toutes vos commandes ?</h4>										
			</div>
			<div th:replace="fragments/general.html :: infoCompte"></div>	
			<div class="d-flex text-center py-2">
				<button type="submit" class="btn btn-danger mx-1">Supprimer le compte</button>
				<a th:href="@{accueil}" class="mx-1 btn btn-primary">Annuler</a>
			</div>
		</form>
	</div>	
	
	
		
	<div th:replace="fragments/general.html :: footerContact"></div>
    <div th:replace="fragments/general.html :: assets"></div>
	<script>
 		$(document).ready(function() { 
 			adjustBody();
   		   	
        	let $liTag =  $('#liCompte');   // 
       
        	if ($liTag.hasClass('active')) {         
          		return false;
        	}
        	
       		$liTag.siblings('.active').removeClass('active');
        	$liTag.addClass('active');  
        	
        	 let $liBisTag =  $('#liHome');   //
        	$liBisTag.siblings('.active').removeClass('active');
      	})
      	
      	 $('.lblPtV').popover({
            html: true,
            content: function () {
                var elementId = $(this).attr("data-popover-content");
                
                return $(elementId).html();
            }
        });
    </script>	
</body>
<footer th:replace="fragments/general.html :: footerTrade"></footer>
</html>