 /* div{
	 border: red solid 2px;
} */
body{
	/* padding-top: 206px; */
}
header{
	/* background-color: rgba(255, 255, 255, 0.8); */
	background-color: white;	
}

.shrink {
    /* display:none !important; */    
}

.capitale {
    text-transform: uppercase;
}
.active{
	font-weight: bold;
}
.textWithCrLf{
	white-space: pre-line;
}

.imgAutoSize{
	 width: auto;
	 height: auto;
	 max-width: 100%;
}


.carousel-control-prev:hover, .carousel-control-next:hover{
	background-color: white;
}

.imgTrasition{
	transition: all 0.2s ease-in;
}

.imgTrasition:hover {	
	border: 1px #333333bb;
	box-shadow: 3px 3px 3px 3px #333333bb;		
}
.divCenterContainer {
 	padding: 0px 5px ;
	text-align: center;
	background-repeat: no-repeat; 
	background-size: cover;
}
.divCategoriesMP , .divPromoMP, .divProduitMd{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-content: space-between;
}
.divCategoriesMP>div {
	background-color:#f4f4f4;
	box-shadow: 0 2px 2px 2px rgb(236, 236, 236);
	text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
     padding:1%;
    width: 32%;  
    border-radius: 5px;
    min-height: 150px;
    overflow: auto;   
    
}

.divPromoMP>div {
	text-align: center;
    width: 32%;  
    border-radius: 5px;
    border: 1px black solid;
    min-height: 150px;
    overflow: auto;  
    margin-top: 1%;
    margin-bottom: 1%;
}

.divProduitMd>div{
	width: 23%;
	margin:1%; 
}
@media ( max-width : 1100px) {
	.divProduitMd > div {
		width: 31%;
		margin:1%; 
	}
}
@media ( max-width : 900px) {
	.divProduitMd > div {
		width: 48%;
		margin:1%; 
	}
}

@media ( max-width : 700px) {
	.divProduitMd > div {
		width: 98%;
		margin:1%; 
	}
}

.divCategorieColor{
	/* background-color:#f4f4f4; */
	background-color: lightgray;
	box-shadow: 0 1px 1px 1px #333333bb;
	background-image: url('/images/pic02.jpg');
	background-size: cover;
	color: white;
	border-radius: 5px;
}
.divProduitBoxColor{
	background-color:white;
	box-shadow: 0 1px 1px 1px #333333bb;
	transition: all 0.5s ease-in;
}

.divProduitBoxColor:hover {
	opacity: 1;
	border: 1px #333333bb;
	box-shadow: 3px 3px 3px 3px #333333bb;		
}

.divProduit {
    padding: 10px;
    display: grid;
    grid-template-columns: 40% auto;   
    column-gap: 10px;
    align-items: left;
}

.divCategorie {
    padding: 10px 10px 2px 10px;
    display: grid;
    grid-template-columns: 15% auto;   
    column-gap: 10px;
    align-items: left;
}


.divPhotoMain{
	 width: 100%;
	 text-align: center;
}
.divPhotoSmall{
	 width: 49%;
	 text-align: center;
}
.etiquetteDelaisColor{
	background-color: #ceffce;
}
.etiquetteDelais{
	background-color: #ceffce;
	max-width:200px;
	margin-left: auto;
    margin-right: auto;
	padding: 2px 2px;
	margin-bottom:0px;
	margin-top:0px;
    text-align: center;
    position: relative;
    bottom: 15px;
    z-index: 2;
}
.etiquette {
    background-color: yellow;
    border: solid 1px yellow;
    color:black !important; 
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 15px;
    z-index: 2;
}

.etiquetteJaune {
    background-color: yellow;
    border: solid 1px yellow;
    color:black !important; 
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
    /* position: relative;
    bottom: 15px;
    z-index: 2; */
}

.etiquetteVerte {
    background-color: #80ff80;
    border: solid 1px #80ff80;
    color:black !important; 
    
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
    /* position: relative;
    bottom: 15px;
    z-index: 2; */
}
.etiquetteRouge {
    background-color: #ff0000;
    color:white !important;
    border: solid 1px #ff0000;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
   /*  position: relative;
    bottom: 15px;
    z-index: 2; */
}
.etiquetteGrise {
    background-color: #808080;
    color:white !important;
    border: solid 1px #808080;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 110px;
    overflow:visible;
 	margin-left: auto;
    margin-right: auto;
   /*  position: relative;
    bottom: 15px;
    z-index: 2; */
}

.divAddToPanier{
	position: relative;
	opacity: 0;
	top: -60px;
	margin-left: auto;
    margin-right: auto;
    width: 60%;
    overflow:visible;
    text-align: center;
    transition: all 0.5s ease-in;
}

.divAddToPanier:hover, .linkProduit:hover + .divAddToPanier  {
	opacity: 1;
	top: -65px;
}

.pointVenteInfoTexte{
	color: #005b2e;	
}


.myPopoverContent {
    padding: 10px;
    /* margin: 5px; */
    /* width: 400px; */
    border-radius: 5px;
    
}
.divInfoCompteAdr{
	background-image: url("/images/pic01.jpg");
	background-size: cover;	
	color: white;
}
.divInfoCompte{
	background-image: url("/images/pic15.jpg");
	background-size: cover;	
	color: white;
}

.divInfoCompteReadOnly{
	background-image: url("/images/pic15.jpg");
	background-size: cover;
	color: white;
}
.infoCompteBlack{
	color: black;
}
.footerContact{
	background-image: url("/images/pic02.jpg");
	background-size: cover;	
	background-color: #f6f6f6;
	margin: 5px;
	border: #f6f6f6 solid 1px;
	border-radius: 5px;
	color: white;
}
	
	
footer{
	background-image: url("/images/pic03.jpg");
	background-size: cover;	
	color: white;
	padding: 10px 10px;
}